<!DOCTYPE>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

	<head>
	<script src="/{{= request.application }}/static/js/jquery.js" type="text/javascript"></script>
	<link rel="stylesheet" type="text/css" href="/{{= request.application }}/static/styles/blog/base-light.css" />
	<link rel="stylesheet" type="text/css" href="/{{= request.application }}/static/styles/blog/blog-light.css" />

	<!-- Google Web Fonts -->
	<link href='http://fonts.googleapis.com/css?family=Lobster+Two' rel='stylesheet' type='text/css'>
	<link href='http://fonts.googleapis.com/css?family=Montez' rel='stylesheet' type='text/css'>

	</head>

	<body>
		{{ include }}
	</body>


</html>
