{{ extend 'wiki/base.html' }}

<div class='banner'>

	<h1 class='banner-title'>The dotSkapes Project</h1>
	<p class='blog-description font-lobster-two'>Blog description blah blah blah</p>

</div>

<div class='category'>

	<ul>
	{{ for cat in MongoWrapper (mongo.categories.find ({request.function: True})): }}
	<li>
	<a href="{{= URL (r = request, args = request.args, vars = {'cat': str (cat._id)}) }}">{{= cat.name }}</a>
	</li>
	{{ pass }}
	</ul>
	
	<div class='clear'></div>

</div>

<div class='blog-section'>

	<div class='left-col'>
		<h4 class='left-top'>Recent Articles</h4>

		<div class='post'>

			<div id="plugin_wiki">
		  
			  {{request.args.append (None) }}
			  {{ for page in pages: }}
			  <div class="page">
			    {{ include 'wiki/page_base.html' }}
			    {{ if page.more: }}<p style="text-align: right; margin-bottom: 20px;"><a href="{{= URL (r = request, args = [page.slug, 'view'])}}">MORE &#187;</a></p>{{ pass }}
			    <div class="page_foot">
			      <a href="{{= URL (r = request, args = [page.slug, 'view'], anchor = 'comments') }}">COMMENTS ({{= len (page.comments) }})</a>&nbsp;&nbsp;&nbsp;&nbsp;{{ if (check_role (editor_role) or check_user (page.owner)): }}<a href="{{= URL(r=request, args = [page.slug, 'delete_confirm']) }}">DELETE</a>&nbsp;&nbsp;&nbsp;&nbsp;{{ if page.public: }}<a href="{{= URL(r=request, args=[page.slug, 'unpublish']) }}">UNPUBLISH</a>{{ else: }}<a href="{{= URL(r=request, args=[page.slug, 'publish']) }}">PUBLISH</a>{{ pass }}&nbsp;&nbsp;&nbsp;&nbsp;<a href="{{= URL(r=request, args=[page.slug, 'edit']) }}">EDIT</a>{{ pass }}
			    </div>
			  </div>
			  
			</div><!-- end of plugin_wiki -->
			{{ pass }}

		</div>

	</div>

	<div class='right-col'>

	<h4 class='right-top'>Summary</h4>
		
		<div class='right-box'>

		<h5 class='right-title'>Titles</h5>

		<ul class='right-list'>
			<li>
			testing title 1
			</li>
			<li>
			testing title 2
			</li>
			<li>
			testing title 3
			</li>
			<li>
			testing title 4
			</li>
		</ul>

		</div>

		<div class='right-box'>

		<h5 class='right-title'>Tags</h5>

		<ul class='right-list'>
			<li>
			testing tag 1
			</li>
			<li>
			testing tag 2
			</li>
			<li>
			testing tag 3
			</li>
			<li>
			testing tag 4
			</li>
		</ul>

		</div>

		<div class='right-box'>

		<h5 class='right-title'>Follow Us</h5>

		<ul class='right-list follow'>
			<li class='follow-li' title='Twitter'><a href="http://www.twitter.com/dotskapes"><img src="http://twitter-badges.s3.amazonaws.com/t_logo-a.png" alt="Follow dotskapes on Twitter"/></a></li>
			<li class='follow-li' title='Google Group'><a href="http://groups.google.com/group/healthscapes?pli=1"><img src="/{{=request.application}}/static/images/google.jpeg" alt="Follow dotskapes on Google group"/></a></li>
			<li class='follow-li' title='Feeds'><a href="#"><img src="/{{=request.application}}/static/images/rss.jpeg" alt="Follow dotskapes on rss feed"/></a></li>
		</ul>
			
		<div class='clear'></div>

		</div>

	</div>
	<div class='clear'></div>
</div>

