    <div class="page_head">
      <h4 class="left-title">{{= page.title }} {{if not page.public: }} <span style="color:red;">UNPUBLISHED</span>{{ pass }}</h4>
      <p class="date">
	{{= page.date }}
      </p>
 {{= user_name (page.owner) }}{{ if len (page.categories): }} in {{= ' | '.join (map (lambda x: lookup_cat_id (str (x)), page.categories)) }}{{ pass }}<br />
	{{ if len (page.tags): }}Tags: {{ pass }}{{= ', '.join (page.tags) }}
      </p>
    </div>
    <div class="post-content">
      {{= plugin_wiki.render(page.body) }}
    
